# Packaging debris
dist/
*.egg-info/

# Testing debris
__pycache__/

# Coverage debris
.coverage
htmlcov/

# Docs debris
docs/_build/

# User generated debris
*.swp
*.log
*.svg
*.step
*.STEP
*.stl

#mypy cache
.mypy_cache
build
