# Packaging debris
dist/
*.egg-info/
src/build123d/_version.py

# Testing debris
__pycache__/

# Coverage debris
.coverage
htmlcov/

# Docs debris
docs/_build/

# User generated debris
*.swp
*.log

# User generated debris (3D)
*.stp
*.STP
*.step
*.STEP
*.stl
*.3mf
*.brep
*.gltf
*.bin
*.glb

# User generated debris (2D)
*.dxf
*.jpeg
*.jpg
*.png
*.svg

#mypy cache
.mypy_cache
.cache/
build

#Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#ide debris
.vscode

# Profiling debris.
prof/

# MacOS cruft
.DS_Store
